@mixin flexbox-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexbox-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin mQ($wdt) {
  @media screen and (max-width: $wdt) {
    @content;
  }
}

@mixin sectitle {
  color: $text;
  flex-basis: 100%;
  font-size: 2rem;
  @include mQ(600px) {
    font-size: 1.7rem;
  }
  @include mQ(400px) {
    font-size: 1.5rem;
  }
}

@mixin cardtitle {
  color: $text;
  font-weight: 700;
  font-size: 1.4rem;
}

@mixin texts {
  color: $text;
  line-height: 35px;
  text-justify: distribute;
  align-self: stretch;
  font-size: 1.2rem;
  @include mQ(600px) {
    line-height: 30px;
  }
}

@mixin padding {
  padding: 50px;
  @include mQ(600px) {
    padding: 25px;
  }
  @include mQ(400px) {
    padding: 20px 10px;
  }
}

@mixin smallerIcons {
  width: 15px;
  margin-left: 20px;
  object-fit: cover;
}

@mixin buttons {
  color: #fff;
  background-color: $link;
  font-weight: 600;
  border-radius: 2px;
  &:hover {
    opacity: 0.5;
  }
}

@mixin animateRight {
  transform: translateX(-300px);
  visibility: hidden;
  transition: transform 0.8s;
}

@mixin animateLeft {
  transform: translateX(300px);
  visibility: hidden;
  transition: 0.8s;
}

@mixin animateTop {
  transform: translateY(-300px);
  visibility: hidden;
  transition: 0.8s;
}

@mixin animateEnd {
  transform: translate(0px) !important;
  visibility: visible !important;
}
