* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4d4d57;
}

.a-header {
  background: #151519;
  height: 60px;
  padding: 25px;
  overflow: hidden;
  border-bottom: 1px solid #323238;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.a-header .a-header__left {
  color: #e1e1e6;
  font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
  .a-header .a-header__left {
    font-size: 1.2rem;
  }
}
.a-header .a-header__nav .mobile-menu__container {
  display: none;
}
@media screen and (max-width: 600px) {
  .a-header .a-header__nav .mobile-menu__container {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 22px;
    right: 25px;
    z-index: 11;
  }
}
@media screen and (max-width: 600px) {
  .a-header .a-header__nav .burguer {
    width: 15px;
    height: 2px;
    display: block;
    margin-top: 3px;
    background: #e1e1e6;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
}
.a-header .a-header__nav .close-left {
  -webkit-transform: translate(0, 2px) rotate(45deg);
          transform: translate(0, 2px) rotate(45deg);
}
.a-header .a-header__nav .close-right {
  -webkit-transform: translate(0, -3px) rotate(135deg);
          transform: translate(0, -3px) rotate(135deg);
}
.a-header .a-header__nav .fade {
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}
.a-header .a-header__nav .a-header__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 600px) {
  .a-header .a-header__nav .a-header__navList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    width: 100%;
    background: #151519;
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100vh;
    visibility: hidden;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
.a-header .a-header__nav .a-header__mobile--active {
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.a-header .a-header__nav li {
  position: relative;
  margin-left: 30px;
}
@media screen and (max-width: 600px) {
  .a-header .a-header__nav li {
    margin: auto;
  }
}
.a-header .a-header__nav a {
  padding: 20px 0;
  color: #a8a8b3;
  font-weight: 600;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.a-header .a-header__nav a::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 2px;
  width: 0;
  background: #8257e5;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.a-header .a-header__nav a:hover {
  color: #e1e1e6;
}
.a-header .a-header__nav a:hover::after {
  width: 100%;
}

.c-aboutme {
  min-height: 100vh;
  border-bottom: 1px solid #323238;
  padding: 50px;
  width: 100%;
  overflow: hidden;
  background: #161619 url(../../../assets/stars.svg) right top no-repeat;
  color: #a8a8b3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .c-aboutme {
    background-position-y: -50px;
  }
}
@media screen and (max-width: 500px) {
  .c-aboutme {
    background-position-y: -100px;
  }
}
@media screen and (max-width: 350px) {
  .c-aboutme {
    background-position-y: -115px;
  }
}
.c-aboutme .c-aboutme__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.c-aboutme .c-aboutme__wrapper .section-title {
  -webkit-transform: translateX(-550px);
          transform: translateX(-550px);
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 2rem;
  margin-bottom: 100px;
}
@media screen and (max-width: 600px) {
  .c-aboutme .c-aboutme__wrapper .section-title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 400px) {
  .c-aboutme .c-aboutme__wrapper .section-title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 800px) {
  .c-aboutme .c-aboutme__wrapper .section-title {
    margin-bottom: 40px;
  }
}
.c-aboutme .c-aboutme__wrapper .c-aboutme__innerwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 800px) {
  .c-aboutme .c-aboutme__wrapper .c-aboutme__innerwrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.c-aboutme .c-aboutme__wrapper .c-aboutme__lefttop {
  -webkit-transform: translateX(-550px);
          transform: translateX(-550px);
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  line-height: 35px;
  text-justify: distribute;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  font-size: 1.6rem;
}
@media screen and (max-width: 600px) {
  .c-aboutme .c-aboutme__wrapper .c-aboutme__lefttop {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .c-aboutme .c-aboutme__wrapper .c-aboutme__lefttop {
    font-size: 1.2rem;
  }
}
.c-aboutme .c-aboutme__wrapper .c-aboutme__rightbottom {
  -webkit-transform: translateX(550px);
          transform: translateX(550px);
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  line-height: 35px;
  text-justify: distribute;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  font-size: 1.6rem;
}
@media screen and (max-width: 600px) {
  .c-aboutme .c-aboutme__wrapper .c-aboutme__rightbottom {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .c-aboutme .c-aboutme__wrapper .c-aboutme__rightbottom {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 800px) {
  .c-aboutme .c-aboutme__wrapper .c-aboutme__rightbottom {
    margin-top: 20px;
  }
}

.b-presentation {
  height: 100vh;
  color: #a8a8b3;
  background: #121214;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 600px) {
  .b-presentation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.b-presentation h1 {
  -webkit-transform: translateX(-550px);
          transform: translateX(-550px);
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-top: -50px;
  font-size: 3rem;
}
@media screen and (max-width: 1000px) {
  .b-presentation h1 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 600px) {
  .b-presentation h1 {
    text-align: center;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 400px) {
  .b-presentation h1 {
    font-size: 1.5rem;
    margin-top: -80px;
  }
}
.b-presentation a {
  -webkit-transform: translateX(-550px);
          transform: translateX(-550px);
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-top: 50px;
  color: #fff;
  padding: 5px 50px;
  background: #734bd1;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1000px) {
  .b-presentation a {
    font-size: 1.4rem;
  }
}
.b-presentation a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 400px) {
  .b-presentation a {
    padding: 20px;
  }
}
.b-presentation img {
  width: 25px;
  margin-left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.animated {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  visibility: visible !important;
}