.c-aboutme {
  min-height: 100vh;
  border-bottom: 1px solid $borders;
  width: 100%;
  background: $sectionsBg;
  color: $text;
  @include padding;
  @include flexbox-center;
  .c-aboutme__wrapper {
    overflow: hidden;
    @include flexbox-row;
    flex-flow: row wrap;
    h1 {
      @include animateRight;
      @include sectitle;
      margin-bottom: 100px;
      @include mQ(800px) {
        margin-bottom: 40px;
      }
    }
    .c-aboutme__innerwrapper {
      overflow: hidden;
      align-self: baseline;
      @include flexbox-column;
      flex-basis: 45%;
      @include mQ(800px) {
        flex-basis: 100%;
      }
    }
    .c-aboutme__lefttop {
      @include animateRight;
      @include texts;
    }
    .c-aboutme__rightbottom {
      margin-top: 30px;
      @include animateLeft;
      @include texts;
    }
    .c-aboutme__linksWrapper {
      overflow: hidden;
        width: 100%;
        @include flexbox-row;
        margin-top: 30px;
        @include mQ(1000px) {
            flex-direction: column;
        }
    }
    a {
      @include animateRight;
      @include flexbox-row;
      @include buttons;
      padding: 15px 35px;
      margin: 15px 0;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
      @include mQ(600px) {
        width: 100%;
        justify-content: center;
      }
    }
    img {
        @include smallerIcons;
    }
  }
}
