.c-aboutme {
  min-height: 100vh;
  border-bottom: 1px solid $borders;
  padding: 50px;
  width: 100%;
  overflow: hidden;
  background: $sectionsBg;
  color: $text;
  @include mQ(800px) {
    background-position-y: -50px;
  }
  @include mQ(500px) {
    background-position-y: -100px;
  }
  @include mQ(350px) {
    background-position-y: -115px;
  }
  @include flexbox-center;
  .c-aboutme__wrapper {
    @include flexbox-row;
    flex-flow: row wrap;
    .section-title {
      @include animateRight;
      @include sectitle;
      margin-bottom: 100px;
      @include mQ(800px) {
        margin-bottom: 40px;
      }
    }
    .c-aboutme__innerwrapper {
      align-self: baseline;
      @include flexbox-column;
      flex-basis: 45%;
      @include mQ(800px) {
        flex-basis: 100%;
      }
    }
    .c-aboutme__lefttop {
      @include animateRight;
      @include texts;
    }
    .c-aboutme__rightbottom {
      margin-top: 30px;
      @include animateLeft;
      @include texts;
    }
    .c-aboutme__linksWrapper {
        width: 100%;
        @include flexbox-row;
        margin-top: 30px;
        @include mQ(1000px) {
            flex-direction: column;
        }
    }
    a {
      @include animateRight;
      @include flexbox-row;
      @include buttons;
      margin: 15px 0;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
    img {
        width: 15px;
        margin-left: 20px;
        object-fit: cover;
    }
  }
}
