.c-aboutme {
    min-height: 100vh;
    border-bottom: 1px solid $borders;
    padding: 50px;
    width: 100%;
    overflow: hidden;
    background: $sectionsBg url(../../../assets/star.svg) right top no-repeat;
    color: $text;
    @include mQ(800px) {
        background-position-y: -50px;
    }
    @include mQ(500px) {
        background-position-y: -100px;
    }
    @include mQ(350px) {
        background-position-y: -115px;
    }
    @include flexbox-center;
    .c-aboutme__wrapper {
        @include flexbox-row;
        flex-flow: row wrap;
        .section-title {
            @include animateRight;
            @include sectitle;
            margin-bottom: 100px;
            @include mQ(800px) {
                margin-bottom: 40px;
            }
        }
        .c-aboutme__innerwrapper {
            @include flexbox-row;
            @include mQ(800px) {
                flex-direction: column;
            }
        }
        .c-aboutme__lefttop {
            @include animateRight;
            @include texts;
        }
        .c-aboutme__rightbottom {
            @include animateLeft;
            @include texts;
            @include mQ(800px) {
                margin-top: 20px;
            }
        }
    }
}