.g-email {
  @include padding;
  min-height: 100vh;
  width: 100%;
  background: $lighterBg;
  border-bottom: 1px solid $borders;
  @include mQ(300px) {
    padding: 20px 0;
  }
  @include flexbox-center;
  .g-email__wrapper {
    height: 100%;
    width: 100%;
    h2 {
      @include animateRight;
      @include sectitle;
      text-align: center;
      margin-bottom: 40px;
      @include mQ(600px) {
        margin-bottom: 60px;
      }
    }
    form {
      width: 100%;
      padding: 0 15px;
      @include flexbox-column;
    }
    input, textarea, button {
      width: 100%;
      max-width: 400px;
      padding: 13px 10px;
      background: $darkerBg;
      color: $text;
      border: 2px solid transparent;
      border-radius: 2px;
      outline: 0;
      font-size: 1rem;
      @include animateRight;
      &:hover, &:focus {
        color: #fff;
        border-color: $underline;
      }
      @include mQ(600px) {
        padding: 15px 10px;
      } 
    }
    input {
      margin-bottom: 10px;
    }
    textarea {
      resize: none;
      margin-bottom: 20px;
    }
    button {
      cursor: pointer;
      max-width: 300px;
      padding: 15px 0;
      @include mQ(400px) {
        max-width: 400px;
      }
    }
  }
}
