.footer {
  @include padding;
  min-height: 20vh;
  width: 100%;
  background-color: $lighterBg;
  @include mQ(300px) {
    padding: 20px 0;
  }
  @include flexbox-center;
  .footer__wrapper {
    width: 100%;
    @include flexbox-row;
    @include mQ(800px) {
      @include flexbox-column;
    }
  }
  .footer__credits {
    text-align: right;
    h2 {
      color: $text;
      margin-bottom: 30px;
      font-size: 1.3rem;
      @include mQ(800px) {
        text-align: center;
        font-size: 1.1rem;
      }
    }
    @include mQ(800px) {
      margin-top: 30px;
    }
    a {
      color: $text;
      display: block;
      font-size: 1.1rem;
      border-bottom: 1px solid transparent;
      padding: 10px 0 2px 0;
      @include mQ(800px) {
        width: fit-content;
        margin: auto;
        font-size: 1rem;
      }
      &:hover {
        border-color: $link;
        color: $weakGray;
      }
    }
  }
  .footer__contactme {
    @include flexbox-column;
    @include mQ(800px) {
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-around;
    }
    @include mQ(450px) {
      flex-direction: column;
    }
    h2 {
      width: 100%;
      color: $text;
      margin-bottom: 30px;
      font-size: 1.3rem;
      @include mQ(800px) {
        text-align: center;
        font-size: 1.1rem;
      }
    }
    a {
      margin: 4px 0;
      padding-bottom: 3px;
      color: $text;
      align-self: stretch;
      transition: all 0.3s;
      border-bottom: 2px solid transparent;
      @include flexbox-row;
      justify-content: space-around;
      gap: 1rem;
      font-size: 1.2rem;
      &:hover {
        color: $weakGray;
        border-color: $link;
        .footer__circle {
          border-color: $link;
        }
      }
      @include mQ(800px) {
        font-size: 1rem;
      }
    }
    img {
      width: 15px;
      object-fit: cover;
    }
    .footer__circle {
      padding: 14px;
      border-radius: 50%;
      @include flexbox-center;
      border: 1px solid $iconsandtags;
      @include mQ(800px) {
        padding: 6px;
        transform: translateX(7px);
      }
    }
  }
}
