.a-header {
  background: $lighterBg;
  height: 60px;
  padding: 25px;
  overflow: hidden;
  border-bottom: 1px solid $borders;
  .a-header__left {
    color: $weakGray;
    font-size: 1.4rem;
    @include flexbox-row;
    @include mQ(700px) {
      font-size: 1.2rem;
    }
    img {
      transform: translate(8px, 2px);
      width: 25px;
      object-fit: cover;
    }
  }
  @include flexbox-row;
  .a-header__nav {
    .mobile-menu__container {
      display: none;
      @include mQ(700px) {
          cursor: pointer;
          display: block;
          position: absolute;
          top: 22px;
          right: 25px;
          z-index: 11;
      }
    }
    .burguer {
      @include mQ(700px) {
        width: 15px;
        height: 2px;
        display: block;
        margin-top: 3px;
        background: $weakGray;
        transition: all .4s ease-in-out
      }
    }
    .close-left {
      transform: translate(0, 2px) rotate(45deg);
    }
    .close-right {
      transform: translate(0, -3px) rotate(135deg);
    }
    .fade {
      opacity: 0;
    }
    .a-header__navList {
      @include flexbox-row;
      @include mQ(700px) {
        @include flexbox-column;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        background: $lighterBg;
        top: 0px;
        left: 0px;
        z-index: 10;
        min-height: 100vh;
        visibility: hidden;
        transform: translateY(-200px);
        transition: all 0.4s ease-in-out;
      }
    }
    .a-header__mobile--active {
        visibility: visible;
        transform: translateY(0px);
    }
    li {
      position: relative;
      margin-left: 30px;
      @include mQ(700px) {
        margin: auto;
      }
    }
    a {
      padding: 20px 0;
      color: $text;
      font-weight: 600;
      transition: color 0.3s ease-in-out;
      &::after {
        content: " ";
        display: block;
        position: absolute;
        bottom: -20px;
        left: 0;
        height: 2px;
        width: 0;
        background: $underline;
        transition: width 0.3s ease-in-out;
      }
      &:hover {
        &::after {
          width: 100%;
        }
        color: $weakGray;
      }
    }
  }
}
