@import 'variables';
@import 'reset';
@import 'mixins';
@import 'header';
@import 'aboutme';
@import 'presentation';
@import 'projects';
@import 'skills';
@import 'services';
@import 'contact';
@import 'footer';
@import 'toast';

.animated {
  @include animateEnd;
}

.animate-right {
  @include animateRight;
}

.animate-top {
  @include animateTop;
}

.animate-left {
  @include animateLeft;
}

.animate-top-right {
  @include animateTop;
  @include mQ(700px) {
    @include animateRight;
  }
}

.animate-right-top {
  @include animateRight;
  @include mQ(700px) {
    @include animateTop;
  }
}

.back-to-top {
  @include animateLeft;
  position: fixed;
  bottom: 6px;
  right: 6px;
  z-index: 20;
  border-radius: 50%;
  img {
    width: 40px;
    object-fit: cover;
    @include mQ(800px) {
      width: 28px;
    }
  }
}

.back-to-top--active {
  @include animateEnd;
}
