@mixin flexbox-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin sectitle {
    flex-basis: 100%;
    font-size: 2rem;
    @include mQ(600px) {
        font-size: 1.6rem;
    }
    @include mQ(400px) {
        font-size: 1.4rem;
    }
}

@mixin texts {
    line-height: 35px;
    text-justify: distribute;
    align-self: stretch;
    flex-basis: 45%;
    font-size: 1.6rem;
    @include mQ(600px) {
        font-size: 1.4rem;
    }
    @include mQ(400px) {
        font-size: 1.2rem;
    }
}

@mixin mQ($wdt) {
    @media screen and (max-width: $wdt) {
        @content;
    }
}

@mixin animateRight {
    transform: translateX(-550px);
    visibility: hidden;
    transition: 0.8s;
}

@mixin animateLeft {
    transform: translateX(550px);
    visibility: hidden;
    transition: 0.8s;
}

@mixin animateEnd {
    transform: translateX(0px) !important;
    visibility: visible !important;
}