.b-presentation {
  background: $darkerBg no-repeat;
  background-image: url(../css/astronaut.svg);
  background-size: 50% 90vh;
  background-position: 115% -15px;
  min-height: 100vh;
  color: $text;
  border-bottom: 1px solid $borders;
  @include padding;
  @include flexbox-column;
  justify-content: center;
  align-items: flex-start;
  @include mQ(1300px) {
    background-position: 115% -5px;
  }
  @include mQ(1100px) {
    background-image: unset;
  }
  @include mQ(600px) {
    align-items: center;
  }
  h1 {
    font-size: 3rem;
    @include mQ(1000px) {
      font-size: 2.2rem;
    }
    @include mQ(400px) {
      text-align: center;
      font-size: 1.8rem;
    }
    @include mQ(250px) {
      font-size: 1.6rem;
    }
  }
  h2 {
    font-size: 2.5rem;
    @include mQ(1000px) {
      font-size: 1.8rem;
    }
    @include mQ(400px) {
      text-align: center;
      font-size: 1.4rem;
    }
    @include mQ(250px) {
      font-size: 1.2rem;
    }
  }
  a {
    @include flexbox-row;
    @include buttons;
    padding: 15px 70px;
    margin-top: 50px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    @include mQ(600px) {
      width: 100%;
      justify-content: center;
    }
  }
  img {
    width: 25px;
    margin-left: 20px;
    object-fit: cover;
  }
}
