.b-presentation {
  min-height: 100vh;
  color: $text;
  background: $darkerBg;
  @include padding;
  @include flexbox-column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  @include mQ(600px) {
    align-items: center;
  }
  .b-presentation__welcome {
    position: absolute;
    top: 20%;
    @include animateRight;
    color: $weakGray;
    display: block;
    font-size: 1.4rem;
    @include mQ(400px) {
      font-size: 1.2rem;
    }
    &::after {
      content: '👋';
      display: inline-block;
      animation: shake 3s ease-in-out infinite;
    }
  }
  h1 {
    @include animateRight;
    margin-top: -50px;
    font-size: 3rem;
    @include mQ(1000px) {
      font-size: 2.2rem;
    }
    @include mQ(400px) {
      text-align: center;
      font-size: 1.8rem;
      margin-top: -80px;
    }
  }
  a {
    @include animateRight;
    @include flexbox-row;
    @include buttons;
    padding: 15px 70px;
    margin-top: 50px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    @include mQ(600px) {
      width: 100%;
      justify-content: center;
    }
  }
  img {
    width: 25px;
    margin-left: 20px;
    object-fit: cover;
  }
}

@keyframes shake {
  0% { transform: rotate(0) }
  25% { transform: rotate(70deg) }
  50% { transform: rotate(0) }
  75% { transform: rotate(70deg) }
  100% { transform: rotate(0) }
}