* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}
.body--active {
  overflow: hidden;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $scrollbar-background;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $scrollbar;
}
