.f-services {
  @include padding;
  min-height: 100vh;
  width: 100%;
  background-color: $darkerBg;
  border-bottom: 1px solid $borders;
  @include mQ(300px) {
    padding: 20px 0px;
  }
  @include flexbox-center;
  .f-services__wrapper {
    width: 100%;
    overflow: hidden;
    @include flexbox-column;
    h2 {
      @include sectitle;
      text-align: center;
      margin-bottom: 100px;
      @include mQ(800px) {
        margin-bottom: 40px;
      }
    }
    ul {
      @include four-col-grid;
    }
    li {
      margin: 15px;
      border: 2px solid transparent;
      border-radius: 2px;
      padding: 15px;
      background-color: $lighterBg;
      text-align: center;
      &:hover {
        border-color: $link;
      }
      @include mQ(700px) {
      }
    }
    img {
      width: 25px;
      object-fit: cover;
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 10px;
      @include cardtitle;
    }
    p {
      @include texts;
    }
  }
}
