.f-services {
  @include padding;
  min-height: 100vh;
  width: 100%;
  background-color: $darkerBg;
  border-bottom: 1px solid $borders;
  overflow: hidden;
  @include mQ(576px) {
    padding: 20px 0px;
  }
  @include flexbox-center;
  .f-services__wrapper {
    width: 100%;
    @include flexbox-column;
    h2 {
      @include sectitle;
      text-align: center;
      margin-bottom: 100px;
      @include mQ(800px) {
        margin-bottom: 40px;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include mQ(1100px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mQ(900px) {
        grid-template-columns: 1fr 1fr;
      }
      @include mQ(600px) {
        grid-template-columns: 1fr;
      }
    }
    li {
      margin: 15px;
      border: 2px solid transparent;
      border-radius: 2px;
      padding: 15px;
      background-color: $lighterBg;
      text-align: center;
      &:hover {
        border-color: $link;
      }
      @include mQ(700px) {
      }
    }
    img {
      width: 25px;
      object-fit: cover;
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 10px;
      @include cardtitle;
    }
    p {
      @include texts;
    }
  }
}
