.e-skills {
  @include padding;
  min-height: 100vh;
  width: 100%;
  background-color: $lighterBg;
  border-bottom: 1px solid $borders;
  @include mQ(576px) {
    padding: 20px 0px;
  }
  .e-skills__wrapper {
    width: 100%;
    overflow: hidden;
    @include flexbox-column;
    h2 {
      @include sectitle;
      text-align: center;
      margin-bottom: 100px;
      @include mQ(800px) {
        margin-bottom: 40px;
      }
    }
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      @include mQ(1100px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include mQ(900px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mQ(700px) {
        grid-template-columns: 1fr 1fr;
      }
      @include mQ(470px) {
        grid-template-columns: 1fr;
      }
    }
    li {
      text-align: center;
      padding: 20px 15px;
      @include flexbox-center;
      overflow: hidden;
      margin: 10px;
      border-bottom: 2px solid transparent;
      background-color: $darkerBg;
      &:hover {
        border-bottom-color: #734bd1;
        transform: scale(1.1);
        background-color: lighten($color: $darkerBg, $amount: 8);
      }
    }
    img {
      width: 50px;
      object-fit: cover;
    }
    figcaption {
      @include cardtitle;
    }
  }
}
