.e-skills {
  @include padding;
  min-height: 100vh;
  width: 100%;
  background: $lighterBg;
  border-bottom: 1px solid $borders;
  @include mQ(300px) {
    padding: 20px 5px;
  }
  @include flexbox-center;
  .e-skills__wrapper {
    width: 100%;
    overflow: hidden;
    @include flexbox-row;
    flex-flow: row wrap;
    @include mQ(1024px) {
      @include flexbox-column;
    }
    h2 {
      @include animateRight;
      @include sectitle;
      text-align: center;
      margin-bottom: 100px;
      @include mQ(800px) {
        margin-bottom: 40px;
      }
    }
    ul {
      flex-basis: 45%;
      @include three-col-grid;
      @include mQ(1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
      }
    }
    li {
      padding: 20px 15px;
      @include flexbox-center;
      overflow: hidden;
      margin: 20px 10px;
      border-bottom: 2px solid transparent;
      background: $darkerBg;
      @include animateRight;
      &:hover {
        border-bottom-color: #734bd1;
        transform: scale(1.1);
        background: lighten($color: $darkerBg, $amount: 8);
      }
      @include mQ(1024px) {
        width: 75px;
        height: 75px;
        padding: 0px;
        margin: 8px;
      }
      @include mQ(700px) {
        width: 50px;
        height: 50px;
        @include animateTop;
      }
      @include mQ(350px) {
        width: 45px;
        height: 45px;
        margin: 5px;
      }
    }
    img {
      width: 50px;
      object-fit: cover;
      @include mQ(1024px) {
        width: 40px;
      }
      @include mQ(700px) {
        width: 30px;
      }
      @include mQ(350px) {
        width: 25px;
      }
    }
    .e-skills__contents {
      @include animateLeft;
      color: $text;
      flex-basis: 45%;
      align-self: stretch;
      @include mQ(1024px) {
        margin-top: 40px;
      }
      @include mQ(1024px) {
        text-align: center;
      }
    }
    h3 {
      @include cardtitle;
    }
    p {
      margin-top: 40px;
      @include texts;
      height: 250px;
    }
  }
}
