$lighterBg: #151519;
$weakGray: #e1e1e6;
$scrollbar: #804aff;
$scrollbar-background: #080808;
$borders: #323238;
$text: #a8a8b3;
$iconsandtags: #41414d;
$darkerBg: #121214;
$sectionsBg: #161619;
$underline: #8257e5;
$link: #734bd1;
$toastBg: #301a3a;